<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>西澤式採用診断アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  </head>
  
  <body>
    <div class="wrapper">
      <header class="header">
        <%= link_to '西澤式適性診断アプリ', root_path, class: "header-logo" %>
        <div class="content-contact">
          <a href="https://www.sar-osaka.com/%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B" class="contact-btn"><i class="fa fa-envelope"></i><br>お問い合わせ<br>はコチラ</a>
        </div>
      </header>
      <main>
        <div class="contents">
          <div class="content-btn">
            <% if user_signed_in? %>
              <strong><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-color1" %></strong>
              <strong><%= link_to "マイページへ", top_mypage_path, class: "btn btn-color2" %></strong>
            <% else %>
              <strong><%= link_to "新規登録", new_user_registration_path, class: "btn btn-color1" %></strong>
              <strong><%= link_to "ログイン", new_user_session_path, class: "btn btn-color2" %></strong>
            <% end %>
            <% if user_signed_in? %>
              <% if @card.nil? %>
                <strong><%= link_to "定期課金登録へ", new_card_path, class: "btn btn-color3" %></strong>
              <% elsif @user.premium == false then %>
                <%= form_tag(action: :resume, method: :post) do %>
                  <div class="btn-color7">
                    <button>定期課金を再開する</button>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <strong><%= link_to "診断へ", recruitments_index_path, class: "btn btn-color4" %></strong>
          </div>
        </div>
        <div class="content-under">
          <div class="content-privacy">
            <h1>【特定商取引法に基づく表記】</h1>
            <p>　</p>
            <h2>販売業社</h2>
            <p>S・A・R株式会社</p>
            <p>　</p>
            <h2>運営責任者</h2>
            <p>代表取締役　西澤大作</p>
            <p>　</p>
            <h2>所在地</h2>
            <p>〒577-0024</p>
            <p>大阪府東大阪市荒本西3-2-36</p>
            <p>　</p>
            <h2>電話番号</h2>
            <p>06-4302-5366</p>
            <p>　</p>
            <h2>問合せ先</h2>
            <p>お問い合わせフォームよりお願い致します。</p>
            <p>　</p>
            <h2>ホームページ</h2>
            <p>https://www.sar-osaka.com/</p>
            <p>　</p>
            <h2>販売価格</h2>
            <p>購入手続の際に画面に表示されます。</p>
            <p>なお、販売価格以外に、インターネット接続料金、通信料金等はお客様のご負担となります。</p>
            <p>　</p>
            <h2>提供時期</h2>
            <p>デジタルコンテンツは、購入手続の際に特別な定めを置いている場合を除き、購入手続完了後、直ちにご利用いただけます。</p>
            <p>　</p>
            <h2>お支払方法</h2>
            <p>クレジットカード（VISA、MASTER、JCB、American Express、Diners Club、Discover）</p>
            <p>　</p>
            <h2>キャンセル・返金</h2>
            <p>商品の性質上、購入手続完了後のお客様のご都合によるキャンセルおよび返金は致しかねます。</p>
          </div>
        </div>
      </main>
      <footer>
        <p>Copyright © 2020 S・A・R 株式会社 All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
